<section class="favorite-product">
    <div class="container">
        <h2 class="title">Популярные товары</h2>
        <div class="favorite-product__inner">
            <div class="favorite-product__item">
                <img class="favorite-product__img" src="../images/product/1.jpg" alt="Product">
                <div class="favorite-product__box">
                    <p class="favorite-product__title">
                        Керамогранит Yasmin 598х185 коричневый C-YA4M112D
                    </p>
                    <span class="favorite-product__price">899 ₽</span>
                </div>
                <button class="favorite-product__btn">В корзину</button>
            </div>
            <div class="favorite-product__item">
                <img class="favorite-product__img" src="../images/product/2.jpg" alt="Product">
                <div class="favorite-product__box">
                    <p class="favorite-product__title">
                        Керамогранит Yasmin 598х185 коричневый C-YA4M112D
                    </p>
                    <span class="favorite-product__price">899 ₽</span>
                </div>
                <button class="favorite-product__btn">В корзину</button>
            </div>
            <div class="favorite-product__item">
                <img class="favorite-product__img" src="../images/product/3.jpg" alt="Product">
                <div class="favorite-product__box">
                    <p class="favorite-product__title">
                        Керамогранит Yasmin 598х185 коричневый C-YA4M112D
                    </p>
                    <span class="favorite-product__price">899 ₽</span>
                </div>
                <button class="favorite-product__btn">В корзину</button>
            </div>
            <div class="favorite-product__item">
                <img class="favorite-product__img" src="../images/product/4.jpg" alt="Product">
                <div class="favorite-product__box">
                    <p class="favorite-product__title">
                        Керамогранит Yasmin 598х185 коричневый C-YA4M112D
                    </p>
                    <span class="favorite-product__price">899 ₽</span>
                </div>
                <button class="favorite-product__btn">В корзину</button>
            </div>
            <div class="favorite-product__item">
                <img class="favorite-product__img" src="../images/product/5.jpg" alt="Product">
                <div class="favorite-product__box">
                    <p class="favorite-product__title">
                        Керамогранит Yasmin 598х185 коричневый C-YA4M112D
                    </p>
                    <span class="favorite-product__price">899 ₽</span>
                </div>
                <button class="favorite-product__btn">В корзину</button>
            </div>
            <div class="favorite-product__item">
                <img class="favorite-product__img" src="../images/product/6.jpg" alt="Product">
                <div class="favorite-product__box">
                    <p class="favorite-product__title">
                        Керамогранит Yasmin 598х185 коричневый C-YA4M112D
                    </p>
                    <span class="favorite-product__price">899 ₽</span>
                </div>
                <button class="favorite-product__btn">В корзину</button>
            </div>
            <div class="favorite-product__item">
                <img class="favorite-product__img" src="../images/product/7.jpg" alt="Product">
                <div class="favorite-product__box">
                    <p class="favorite-product__title">
                        Керамогранит Yasmin 598х185 коричневый C-YA4M112D
                    </p>
                    <span class="favorite-product__price">899 ₽</span>
                </div>
                <button class="favorite-product__btn">В корзину</button>
            </div>
            <div class="favorite-product__item">
                <img class="favorite-product__img" src="../images/product/8.jpg" alt="Product">
                <div class="favorite-product__box">
                    <p class="favorite-product__title">
                        Керамогранит Yasmin 598х185 коричневый C-YA4M112D
                    </p>
                    <span class="favorite-product__price">899 ₽</span>
                </div>
                <button class="favorite-product__btn">В корзину</button>
            </div>
        </div>
    </div>
</section>