<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__box">
                <a class="logo" href="#">
                    <img class="logo-img" src="../images/logo-footer.svg" alt="Logotip">
                </a>
                <a class="footer__email footer__link" href="mailto:info@stroykastore.ru">info@stroykastore.ru</a>
                <span class="footer__address footer__link">Москва, ул. Камушкина 10</span>
            </div>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="#">
                        Личный кабинет
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">
                        Заказы
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">
                        Избранное
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">
                        Корзина
                    </a>
                </li>
            </ul>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="#">
                        Каталог
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">
                        Акции
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">
                        Контакты
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">
                        Бренды
                    </a>
                </li>
            </ul>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="#">
                        Доставка
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">
                        Возврат
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">
                        Документация
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">
                        Стать продавцом
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer__copy">
            <p class="footer__copy-text">
                © СтройкаСтор
            </p>
            <img class="footer__copy-img" src="../images/cards.png" alt="Cards">
            <p class="footer__copy-text">
                Cделано в KRUGLOV STUDIO
            </p>
        </div>
    </div>
</footer>