<header class="header">
    <div class="header__inner">
        <div class="container">
            <div class="header__top">
                <a class="header__top-link" href="#">Москва</a>
                <nav class="header__top-menu">
                    <ul class="header__top-list">
                        <li class="header__top-items">
                            <a class="header__top-item-link" href="#">
                                Бренды
                            </a>
                        </li>
                        <li class="header__top-items">
                            <a class="header__top-item-link" href="#">
                                Доставка
                            </a>
                        </li>
                        <li class="header__top-items">
                            <a class="header__top-item-link" href="#">
                                Возврат
                            </a>
                        </li>
                        <li class="header__top-items">
                            <a class="header__top-item-link" href="#">
                                Документация
                            </a>
                        </li>
                        <li class="header__top-items">
                            <a class="header__top-item-link" href="#">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="header__main">
        <div class="container">
            <div class="header__content">
                <a class="logo" href="#">
                    <img class="logo-img" src="../images/logo.svg" alt="Logotip">
                </a>
                <button class="header__content-btn">Каталог</button>
                <form class="form" action="#">
                    <input class="input-search" type="search" placeholder="Поиск">
                    <button class="input-search__btn"></button>
                </form>
                <div class="header__user">
                    <ul class="header__user-nav">
                        <li class="header__user-items">
                            <a class="header__user-link" href="#">
                                <img class="header__userimg" src="../images/icons/user.svg" alt="User">
                                <span>Профиль</span>
                            </a>
                        </li>
                        <li class="header__user-items">
                            <a class="header__user-link" href="#">
                                <img class="header__userimg" src="../images/icons/order.svg" alt="Order">
                                <span>Заказы</span>
                            </a>
                        </li>
                        <li class="header__user-items">
                            <a class="header__user-link" href="#">
                                <img class="header__userimg" src="../images/icons/cart.svg" alt="Cart">
                                <span>Корзина</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header__menu">
        <div class="container">
            <ul class="menu">
                <li class="menu__items">
                    <a class="menu__link" href="#">
                        Акции
                    </a>
                </li>
                <li class="menu__items">
                    <a class="menu__link" href="#">
                        Строительные материалы
                    </a>
                </li>
                <li class="menu__items">
                    <a class="menu__link" href="#">
                        Керамическая плитка
                    </a>
                </li>
                <li class="menu__items">
                    <a class="menu__link" href="#">
                        Краски
                    </a>
                </li>
                <li class="menu__items">
                    <a class="menu__link" href="#">
                        Сантехника
                    </a>
                </li>
                <li class="menu__items">
                    <a class="menu__link" href="#">
                        Напольные покрытия
                    </a>
                </li>
                <li class="menu__items">
                    <a class="menu__link" href="#">
                        Инструменты
                    </a>
                </li>
                <li class="menu__items">
                    <a class="menu__link" href="#">
                        Обои
                    </a>
                </li>
                <li class="menu__items">
                    <a class="menu__link" href="#">
                        Окна
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>