<section class="popular">
    <div class="container">
        <div class="popular__top">
            <h2 class="title">Популярные категории</h2>
            <a class="top-btn" href="#">Все категории</a>
        </div>

        <div class="popular__content">
            <a class="popular__item" href="#">
                <p class="popular__text">
                    Душевые
                </p>
                <img class="popular__img" src="../images/popular/1.png" alt="Category">
            </a>
            <a class="popular__item" href="#">
                <p class="popular__text">
                    Пиломатериалы
                </p>
                <img class="popular__img" src="../images/popular/2.png" alt="Category">
            </a>
            <a class="popular__item" href="#">
                <p class="popular__text">
                    Линолеум
                </p>
                <img class="popular__img" src="../images/popular/3.png" alt="Category">
            </a>
            <a class="popular__item" href="#">
                <p class="popular__text">
                    Обои
                </p>
                <img class="popular__img" src="../images/popular/4.png" alt="Category">
            </a>
            <a class="popular__item" href="#">
                <p class="popular__text">
                    Инструменты
                </p>
                <img class="popular__img" src="../images/popular/5.png" alt="Category">
            </a>
            <a class="popular__item" href="#">
                <p class="popular__text">
                    Товары для дачи
                </p>
                <img class="popular__img" src="../images/popular/6.png" alt="Category">
            </a>
            <a class="popular__item" href="#">
                <p class="popular__text">
                    Окна
                </p>
                <img class="popular__img" src="../images/popular/7.png" alt="Category">
            </a>
            <a class="popular__item" href="#">
                <p class="popular__text">
                    Двери
                </p>
                <img class="popular__img" src="../images/popular/8.png" alt="Category">
            </a>
            <a class="popular__item" href="#">
                <p class="popular__text">
                    Сантехника
                </p>
                <img class="popular__img" src="../images/popular/9.png" alt="Category">
            </a>
            <a class="popular__item" href="#">
                <p class="popular__text">
                    Краски
                </p>
                <img class="popular__img" src="../images/popular/10.png" alt="Category">
            </a>
            <a class="popular__item" href="#">
                <p class="popular__text">
                    Электротовары
                </p>
                <img class="popular__img" src="../images/popular/11.png" alt="Category">
            </a>
            <a class="popular__item" href="#">
                <p class="popular__text">
                    Интерьер
                </p>
                <img class="popular__img" src="../images/popular/12.png" alt="Category">
            </a>
        </div>
    </div>
</section>