<section class="reviews">
    <div class="container">
        <h2 class="title">Отзывы</h2>
        <div class="reviews__inner">
            <div class="reviews__item">
                <div class="reviews__item-box">
                    <img class="reviews__user-img" src="../images/avatars-1.svg" alt="User">
                    <span class="reviews__user-name">Пётр</span>
                </div>
                <p class="reviews__content">
                    Сегодня 10.03.2022 года, брал перфоратор в аренду в магазине по улице Дорожная. Продавец всё хорошо
                    объяснил, показал и плюс остался бонус в ящике перфоратора это бур нужного мне диаметра, оставленным
                    прежним арендатором. В общем повесил телевизор, где надо было просверлить 4 отверстия, всего за 100
                    ₽
                </p>
                <div class="reviews__data">21 марта 2022 г.</div>
            </div>
            <div class="reviews__item">
                <div class="reviews__item-box">
                    <img class="reviews__user-img" src="../images/avatars-2.svg" alt="User">
                    <span class="reviews__user-name">Анна</span>
                </div>
                <p class="reviews__content">
                    Живу в п.Володарский МО, очень были рады открытию магазина СтройкаСтор. Хорошие сотрудники, но
                    особенно хочется отметить работу Алексея за его помощь в решении проблем, очень квалифицированные
                    рекомендации по подбору строительных материалов для ремонта. Хороший ассортимент
                </p>
                <div class="reviews__data">18 марта 2022 г.</div>
            </div>
            <div class="reviews__item">
                <div class="reviews__item-box">
                    <img class="reviews__user-img" src="../images/avatars-3.svg" alt="User">
                    <span class="reviews__user-name">Виктор</span>
                </div>
                <p class="reviews__content">
                    Заказывал в данном магазине строй материалы. Привезли их вовремя и в прекрасном состоянии, претензий
                    к доставке, персоналу и прочему меня нет. Строй материалы мне понравились, ремонт с ними я сделал
                    отличный. Магазин мне безумно понравился, обязательно обращусь сюда снова, большое спасибо
                </p>
                <div class="reviews__data">6 ноября 2021 г.</div>
            </div>
        </div>
    </div>
</section>