<section class="stock">
    <div class="container">
        <div class="stock__top">
            <h2 class="title">Акции</h2>
            <a class="top-btn" href="#">Все акции</a>
        </div>
        <div class="stock__content">
            <div class="stock__item">
                <img class="stock__img" src="../images/product/21.jpg" alt="Product">
                <img class="stock__discount" src="../images/icons/discount.jpg" alt="Discount">
                <div class="stock__box">
                    <p class="stock__title">
                        Керамогранит Yasmin 598х185 коричневый C-YA4M112D
                    </p>
                    <div class="stock__price-box">
                        <span class="stock__price">899 ₽</span>
                        <span class="stock__price-old">899 ₽</span>
                    </div>
                    <button class="stock__btn">В корзину</button>
                </div>
            </div>
            <div class="stock__item">
                <img class="stock__img" src="../images/product/22.jpg" alt="Product">
                <img class="stock__discount" src="../images/icons/discount.jpg" alt="Discount">
                <div class="stock__box">
                    <p class="stock__title">
                        Керамогранит Yasmin 598х185 коричневый C-YA4M112D
                    </p>
                    <div class="stock__price-box">
                        <span class="stock__price">899 ₽</span>
                        <span class="stock__price-old">899 ₽</span>
                    </div>
                    <button class="stock__btn">В корзину</button>
                </div>
            </div>
            <div class="stock__item">
                <img class="stock__img" src="../images/product/23.jpg" alt="Product">
                <img class="stock__discount" src="../images/icons/discount.jpg" alt="Discount">
                <div class="stock__box">
                    <p class="stock__title">
                        Керамогранит Yasmin 598х185 коричневый C-YA4M112D
                    </p>
                    <div class="stock__price-box">
                        <span class="stock__price">899 ₽</span>
                        <span class="stock__price-old">899 ₽</span>
                    </div>
                    <button class="stock__btn">В корзину</button>
                </div>
            </div>
            <div class="stock__item">
                <img class="stock__img" src="../images/product/24.jpg" alt="Product">
                <img class="stock__discount" src="../images/icons/discount.jpg" alt="Discount">
                <div class="stock__box">
                    <p class="stock__title">
                        Керамогранит Yasmin 598х185 коричневый C-YA4M112D
                    </p>
                    <div class="stock__price-box">
                        <span class="stock__price">899 ₽</span>
                        <span class="stock__price-old">899 ₽</span>
                    </div>
                    <button class="stock__btn">В корзину</button>
                </div>
            </div>
        </div>
    </div>
</section>