html,
body {
    height: 100%;
    position: relative;
}

body {
    font-size: 13px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1190px;
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    flex-grow: 1;
}





